<!DOCTYPE html>
<html lang="en">

    <!--=================== Head ===================-->
    <head>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-83RKS6CYK5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-83RKS6CYK5');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Justin Scott Isaac Jenecke</title>
        <link rel="shortcut icon" href="./public/icon/JJ.ico" type="image/x-icon">
        <script src="https://unpkg.com/vue@next"></script>

        <!-- Css -->
        <link rel="stylesheet" href="./src/css/theme.css">
        <!-- Bulma -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"> -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">

        <!-- Swiper -->
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
        />
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

        <!-- JavaScript -->
        <script src="./src/app.js" defer></script>
        <script src="./src/js/swiper.js" defer></script>

    </head>
    <!--=================== Head =====================-->

    <!--=================== Body =====================-->
    <body>

        <div id="app">

            <!------ Nav ------>
            <nav id="header" class="pl-4 pr-4 pt-1.25 pb-1.25 has-background-white"> 
                <div class="columns">
                    <div class="column" id="logo">
                        <a href="" class="button">
                            JJ
                        </a>  
                    </div>
                    <div class="column">
                        <div class="columns" id="nav">
                            <div class="column">
                                <a href="#projects" class="button">
                                    Projects
                                </a>     
                            </div>
                            <div class="column">
                                <a href="#about" class="button">
                                    About
                                </a>   
                            </div>
                            <div class="column">
                                <a href="#contact" class="button">
                                    Contact
                                </a>   
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!------ Hero ------>
            <header id="hero" class="page-tab has-background-black is-white">
                <h1>
                    {{title}}
                </h1>
                <--->
                <h2>
                    {{jobTitle}}
                </h2>
                <div class="hero-links">
                    <div class="is-flex">
                        <button 
                            v-for="(link, id) in links"
                            :id="link.type"    
                            class="button column is-medium is-responsive p-1"
                            :class="link.color"
                        >
                            <b>{{link.type}}</b>
                        </button>
                    </div>
                </div>

            </header>

            <!------ Projects ------>
            <section id="projects" class="page-tab has-background-dark">
                <h2>
                    Projects
                </h2>
                <!-- Template Here -->
                    <div class="swiper">

                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <article class="message">
                                    <div class="message-header">
                                      <p>Project 1</p>
                                      <button class="delete" aria-label="delete"></button>
                                    </div>
                                    <div class="message-body">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                                    </div>
                                </article>
                            </div>
                            <br>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-next btn"></div>
                        <div class="swiper-button-prev btn"></div>
                        
                        <!-- If we need scrollbar -->
                        <!-- <div class="swiper-scrollbar"></div> -->
                    </div>
                <!-- Template Here -->
            </section>

            <!------ About ------>
            <section id="about" class="page-tab has-background-black">
                <h2>
                    About
                </h2>
                <div class="columns">
                    <!-- About -->
                    <div class="column">
                        <h3>
                            More about me
                        </h3>
                        <div class="about">
                            <span v-for="info in about" class="box has-background-info has-text-black p-5 m-2">
                                <b>{{info}}</b>
                            </span> 
                        </div>
                    </div>
                    <!-- Skills -->
                    <div class="column">
                      <h3>
                          Skills
                      </h3>
                      <br>
                      <div class="skills-tools">
                        <span v-for="skill in skills" class="box has-background-primary p-1 m-3">
                            <b>{{skill}}</b>
                        </span>
                    </div>
                    <br>
                    <h3>
                        Tools
                    </h3>
                    <br>
                    <div class="skills-tools">
                        <span v-for="tool in tools" class="box has-background-success p-1 m-3">
                            <b>{{tool}}</b>
                        </span>
                      </div>
                    </div>
                </div>
            </section>

            <!------ Contact ------>
            <footer id="contact" class="page-tab has-background-dark">
                <h2>
                    Contact
                </h2>
            </footer>

        </div>

    </body>
    <!--=================== Body =====================-->

</html>