<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>projects</title>
        <!-- <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script> -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css " rel="stylesheet"> -->
        <style>
            #featured-projects-container {
                display: flex;
                flex-wrap: nowrap;
            }
            .featured-project {
                background-color: black;
                color: white;
                min-width: 50vw;
                aspect-ratio: 3/2;
                margin: 1rem;
            }
        </style>
    </head>

    <body>
        <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                  <ul class="splide__list">
                      <li class="splide__slide">Slide 01</li>
                      <li class="splide__slide">Slide 02</li>
                      <li class="splide__slide">Slide 03</li>
                  </ul>
            </div>
          </div>

        <hr>

        <div id="featured-projects-container">
            <ul id="featured-projects-list">
                <li class="featured-project">
                    <article class="project-card">
                        <div class="project-preview-image">
                            <img src="" alt="preview image">
                        </div>
                        <div class="project-card-data">
                            
                        </div>
                    </article>
                </li>
                <li class="featured-project">
                    <article class="project-card">
                        <div class="project-preview-image">
                            <img src="" alt="preview image">
                        </div>
                        <div class="project-card-data">
                            
                        </div>
                    </article>
                </li>
                <li class="featured-project">
                    <article class="project-card">
                        <div class="project-preview-image">
                            <img src="" alt="preview image">
                        </div>
                        <div class="project-card-data">
                            
                        </div>
                    </article>
                </li>              
            </ul>
        </div>
    
    </body>
    <script>

    </script>
</html>