/* ------ General ------ */

* {
    font-family: consolas;
}

body {
    background-color: rgb(12, 13, 15);
    color: white;
}

/* headings */
    h1 {font-size: 3.75rem !important;}
    h2 {font-size: 3rem !important;}
    h3 {font-size: 2rem !important;}

    h1 {
        font-weight: 900;
    }
    h2 {
        font-weight: 600;
    }
    h3 {
        font-weight: 500;
    }
/* headings */

section {
    min-height: 100vh;
    padding: 0 5vh;
}
@media only screen and (max-width: 600px) {
    section {
        padding: 0 2.5vh;
    }
}

.glass-card {
    background-color: rgba(0, 0, 0, 0.596);
    padding: 2.5rem;
}

/* ------ Top nav  ------ */
.top-nav { 
    display: flex;
    margin: 0 2rem 0rem 2px;
    padding-bottom: 1rem;
}
.nav-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 2rem;
}
@media only screen and (max-width: 600px) {
    .top-nav {
        display: none;
    }
}

/* ------ hero ------ */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2;
}

.hero-graphic {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background-color: rgba(220, 20, 60, 0.322);
    min-height: 50vh;
}
@media only screen and (max-width: 600px) {
    .hero {
        padding: 2vh 0;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }
}

/* ------ mobile nav ------ */
.mobile-nav {
    display: none;
}
.mobile-links {
    display: none;
}
.mobile-interactive-wrapper {
    display: inline-flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
.mobile-interactive-wrapper:hover > .mobile-links {
    display: block;
}

@media only screen and (max-width: 600px) { 
    .mobile-nav {
        display:block;
    } 
    .mobile-interactive-wrapper {
        display: inline-flex;
        flex-direction: column;
        background-color: black;
        color: white;
    }
} 

/* ------ skills ------ */
.card-wrapper:hover > .card-cover-image {
    z-index: -1;
}
/* .card-cover-image {
    background-color: rgb(3, 28, 139);
    position: absolute; 
} */
.card-content {
    background-color: rgba(122, 122, 122, 0.616);
    color: whitesmoke;
}

/* ----- about ----- */
