/* ------ General ------ */

* {
    font-family: consolas;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 28);
    color: white;
}

/* headings */
    h1 {
        font-size: 3.75rem !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 900 !important;
    }
    h2 {
        font-size: 3rem !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
        /* font-weight: 675; */
        font-weight: 600;
    }
    h3 {
        font-size: 2rem !important;
        font-weight: 500;
    }
    h4 {
        font-size: 1.4rem !important;
        font-weight: 300;
    }
    h5 {
        font-weight:bold;
        color: rgb(206, 97, 115);
        display: inline;
    }
/* headings */

section {
    min-height: 100vh;
    padding: 0 5vh;
}

.glass-card {
    background-color: rgba(0, 0, 0, 0.596);
    padding: 0.5rem;
}
@media only screen and (max-width: 770px) {
    section {
        padding: 0 2.5vh;
    }
}

a:hover {
    color: rgb(219, 46, 46);
}
button:disabled {
    color: rgba(255, 255, 255, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.356);
    background-color: rgba(0, 0, 0, 0.103);
    cursor: not-allowed;
}

/* ----------------------------- Component Styling ----------------------------- */

/* ------ Top nav  ------ */
.top-nav { 
    display: flex;
    padding: 1rem 2rem;
    /* padding-bottom: 1rem; */
}
.nav-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 2rem;
}
@media only screen and (max-width: 770px) {
    .top-nav {
        display: none;
    }
}

/* ------ hero ------ */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2;
}

.hero-graphic {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    min-height: 50vh;
}
@media only screen and (max-width: 770px) {
    .hero {
        padding: 2vh 0;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }
}
/* ----- featured projects ----- */
.fp-preview-pane {
    flex: 2;
}

.fp-project-info {
    flex: 3;
}


/* ------ skills ------ */
.card-wrapper:hover > .card-cover-image {
    z-index: -1;
}
/* .card-cover-image {
    background-color: rgb(3, 28, 139);
    position: absolute; 
} */
.card-content {
    display: none;
}
.card-wrapper:hover > .card-content {
    display: block;
    background-color: rgba(0, 0, 0, 0.692);
    color: whitesmoke;
}

/* ----- about ----- */

.about-card:hover > p {
    display: block;
}

/* ------ mobile nav ------ */
.mobile-nav {
    display: none;
}
.mobile-links {
    display: none;
}
.mobile-interactive-wrapper {
    display: inline-flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
.mobile-interactive-wrapper:hover > .mobile-links {
    display: block;
}

@media only screen and (max-width: 770px) { 
    .mobile-nav {
        display:block;
    } 
    .mobile-interactive-wrapper {
        display: inline-flex;
        flex-direction: column;
        background-color: black;
        color: white;
    }
} 


/* ----- footer ----- */
@media only screen and (min-width: 426px) and (max-width: 770px) {
    /* #other-links {
       }
    */

    #footer-social-links {
        /* order: 3; */
        grid-column: 1 / 3;
    }
}
