#app {
    box-sizing: border-box;
    margin: 0;
}

#header {
    position: sticky;
    margin: 0;
    top: 0;
    z-index: 1;
}

.page-tab {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    padding: 2rem 4rem;

    color: whitesmoke;
}

h2 {
    font-size: 3rem !important;
    text-align: center;
}
h3 {
    font-size: 1.5rem !important;
    text-align: center;
}

/* ======================== Hero ======================== */

    #hero {
        justify-content: center;
        text-align: center;
    }

    #hero h1 {
        font-size: 3.5rem;
    }
    #hero h2 {
        font-size: 3rem;
    }

    .hero-links {
        margin: 2rem 15vw;
    }

/* ======================== Projects ======================== */

    /* --- swiper --- */
        .swiper {
            width: 65vw;
            height: 85vh;
        }

        .swiper-slide {
            background-color: whitesmoke;
            color: black;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0.5rem;
        }

